*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input { 
    outline: none;
}
table {
     border-collapse: collapse; 
     border-spacing: 0; 
}
img { 
    border: 0; 
    max-width: 100%; 
}
a { 
    text-decoration: none; 
}

.cont{
    background-color: #1111;
    /* background: url('../../public/img/dialogs_background_main_border.png') no-repeat; */
    width: 100%;
    height: 500px;
}
