@keyframes inimate__one {
  0% {
    transform: translate(-50%, -50%) skewY(5deg);
  }
  50% {
    transform: translate(-50%, -50%) skewY(-5deg);
  }
  100% {
    transform: translate(-50%, -50%) skewY(5deg);
  }
}

nav{
    display: flex;
    justify-content: center;
    background-color: rgb(223, 156, 32);
    border-radius: 0 0 10px 10px;
}
.btnNews{
    display: flex;
    align-items: center;
    color: #fff;
    padding: 10px;
    border: none; 
    outline: none;
    border: 0;
    background: transparent;
}
.btnNews img{
    margin-top: 35px;
    width: 40px;
    transform: translate(-50%, -50%);
    animation: inimate__one 3s infinite;
   
}
.btnNews:hover{
    color: rgb(86, 86, 86);
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
}

